* {
  padding: 0;
  margin: 0;
}

:root {
  --white: white;
  --black: #000;
  --blue: rgb(11, 153, 248);
  --green: #1ed760;
}
.nav {
  background-color: var(--black);
  color: white;
}

.box {
  color: var(--white);
  background-color: blue;
}
